<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="card">
    <a href="{{ post.url | absolute_url }}">
        {% if post.image %} <img class="rounded mb-4" src="{{ post.image }}" alt="{{ post.title }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title h4 serif-font"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
        <p class="card-text text-muted">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
        <div class="metafooter">
            <div class="post-tag-box text-center">
                {% for tag in post.categories %}
                    {% if tag != "game" %}
                    <span class="post-tag"> {{tag}} </span>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="wrapfooter small d-flex align-items-center">
                <span class="author-meta">
                Developed By <b><span class="post-name"> {% if post.creator %}{{ post.creator }}{% else %}{{ "Hello" }}{% endif %}, </span>   </b>          
                on <span class="post-date">{{ post.date | date_to_string }}</span>
                </span>               
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->