<div class="card"> 
    <img class="card-img-top makecode-preview" src= "{{page.image}}"> 
    <div class="card-img-overlay card-inverse text-center mx-auto" text-center> 
        <h4 class="text-stroke text-white card-header">  
            {{page.creator}}'s Game
        </h4> 
        <div class="card-body text-center mx-auto"> 
            <button onclick="window.open('{{page.gamelink}}')" class="makecode-btn">
                <i class="fa fa-play mr-2"></i>
                Play the Game
            </button>
        </div> 
    </div> 
</div> 